.venv
.venv_test
.sdkmanrc
.DS_Store
*.pyc
__pycache__
dist
.idea
/htmlcov/
*.iml
target/
.coverage
.coverage.*
coverage.*
*.iws
/core/gen/
/antlrlinter/gen/
*.tokens
spark-warehouse/
remorph_transpile/
/linter/gen/
/linter/src/main/antlr4/library/gen/
.databricks-login.json
.mypy_cache
.env
*.dbc
progress.md
task.md
learning.md
CLAUDE.md
.claude/
/tests/resources/lsp_transpiler/test-lsp-server.log
